*{
    margin: 0px;
}

#container{
    /* display: flex;
    justify-content: center; */
    display:grid;
    grid-template-columns: 700px auto;
    grid-template-areas: "can tools";
    height: 100vh;
    background-color: blanchedalmond;
}

#can{
    grid-area: can;
    position:absolute;
    top:5%;
    left:5%;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: white;
}

#tools{
    grid-area: tools;
    border: 2px solid grey;
    border-radius: 5px;
    width: 35%;
    height: 485px;
    align-self: baseline;
    margin-top: 30px;
    display: flex;
    flex-flow: column;
    text-align: center;
    padding-top: 15px;
    background-color: white;
}
#color-container{
    display: flex;
    flex-flow: row wrap;
    height: 80px;
    margin: 10px 0px 60px 0px;
    align-self: center;
}
.color-picker{
    width: 25%;
    height: 20px;
    cursor: pointer;
}
.slidecontainer{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.slider{
    width: 50%;
    margin-right: 10px;
}
#slider-value{
    width: 20%;
}

#clear{
    margin-top: 10px;
    width: 80%;
    align-self: center;
    border: 1px solid rgba(127, 127, 127, 0.8);
    border-radius: 3px;
}


